.projects-container {
    display: flex;
    justify-content: space-around;
}

.projects-right {
    text-align: center;
    max-width: 400px;
    margin-right: 60px;
}

.projects-title {
    text-align: center;
    border-bottom: 2px solid black;
    width: 800px;
    margin: 0 auto;
}

.projects-h2 {
    font-size: 38px;
}

img {
    border-radius: 10%;
    border: 10px solid black;
}

img:hover {
    border: 10px solid #6c6c6c;
}

li {
    list-style-type: square;
    text-align: justify;
}

p {
    text-align: justify;
    font-size: 20px;
}