.projects-container {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-around;
}

.projects-left {
}

.projects-right {
    text-align: center;

    max-width: 400px;
    margin-right: 60px;
}

.projects-title {
    text-align: center;
    background-color: crimson;
    border-bottom: 3px solid black;
    width: 800px;
    margin: 0 auto;
}

.projects-h2 {
    font-size: 32px;
}

img {
    border-radius: 10%;
    border: 5px solid white;
}

li {
    list-style-type: square;
    text-align: justify;
}

p {
    text-align: justify;
}