.header-div {
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: #f8f8f8;
    position: relative;
}

.header-title {
    color: black;
    font-size: 130px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.nav-li {
    padding: 20px;
    display: inline;
    font-size: 20px;
    list-style-type: none;
    color: black;
}

.link {
    text-decoration: none;
}