.footer-container {

}

.footer-div {
    background-color: tomato;
    height: 250px;
    position: relative;
}
.footer-nav-li {
    display: inline-flex;
    padding: 40px;
    justify-content: space-between;
    font-size: 60px;
    list-style-type: none;
    color: black;
}

.footer-nav-li:hover {
    color: blue;
}